html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.admin-dashboard {
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.admin-dashboard img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.admin-dashboard nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgb(44, 44, 44);
  padding: 10px 0;
}

.admin-dashboard .title {
  text-align: center;
  color: white;
  margin: 0;
  font-size: 2.5rem;
}

.admin-dashboard li {
  margin: 5px 0;
  background: #a0a0c3;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.admin-dashboard span {
  flex-grow: 1;
  font-size: 16px;
  font-weight: bold;
}

.admin-dashboard .botonesCrear {
  gap: 10px;
  max-width: 600px;
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.admin-dashboard .botones {
  gap: 10px;
  width: 260px;
  height: 60px;
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.admin-dashboard .dosbotones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.admin-dashboard .iconos-elemento {
  white-space: nowrap;
}

.admin-dashboard .delete-button {
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4px;
  transition: transform 0.2s;
}

.admin-dashboard .edit-button {
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
  transition: transform 0.2s;
}

.admin-dashboard .admin-icon {
  border: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 50px;
  transition: transform 0.2s;
}

.admin-dashboard .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.admin-dashboard .head h2 {
  color: white;
}

.admin-dashboard .user {
  list-style-type: none;

  font-family: Arial, sans-serif;

  max-width: 1000px;
  max-height: 550px;

  overflow-y: auto;
  overflow-x: hidden;

  padding: 20px;
  margin: 15px 0;
  border: 1px solid rgb(44, 44, 44);
  border-radius: 4px;

  background-color: #1e1e2f;
}

.admin-dashboard .user li {
  padding: 15px;
  border: 1px solid rgb(44, 44, 44);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-dashboard .user .info-elemento {
  font-style: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  flex-grow: 1;
  min-width: 0;
}

.admin-dashboard .word {
  list-style-type: none;

  font-family: Arial, sans-serif;

  min-width: 380px;
  max-width: 500px;
  max-height: 400px;

  overflow-y: auto;
  overflow-x: hidden;

  padding: 20px;
  margin: 15px 0;
  border: 1px solid rgb(44, 44, 44);
  border-radius: 4px;

  background-color: #1e1e2f;
}

.admin-dashboard .word li {
  padding: 15px;
  border: 1px solid rgb(44, 44, 44);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
