.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.modal-body {
  background-color: #1e1e2f;
  width: 50%;
  min-width: 400px;
  border-radius: 1rem;
  position: relative;
  padding: 1rem;
}

.modal-body input {
  padding: 0.5em;
  border: 1px solid #a0a0c3;
  background-color: #a0a0c3;
  border-radius: 5px;
  margin-bottom: 1em;
  font-size: 1em;
  width: 96%;
  max-width: 100%;
  box-sizing: border-box;
}

.modal-body select {
  padding: 0.5em;
  border: 1px solid #a0a0c3;
  background-color: #a0a0c3;
  border-radius: 5px;
  margin-bottom: 1em;
  font-size: 1em;
  width: 96%;
  max-width: 100%;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23333333%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-13%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2013l128%20127.9c3.6%203.6%207.8%205.4%2013%205.4s9.4-1.8%2013-5.4L287%2095.2c3.6-3.6%205.4-7.8%205.4-13%200-5-1.8-9.2-5.4-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%;
  background-size: 0.65em auto;
}

.modal-body label {
  margin: 0.5em 0 0.2em;
  text-align: left;
  color: white;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.modal-body {
  margin: 0 0 0.1em 0;
  color: #333;
  text-align: center;
}

.modal-body button {
  background-color: #1e1e2f;
  color: white;
  padding: 0.5em;
  margin: 0.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: 25%;
  margin-bottom: 10px;
}

.modal-body h1 {
  color: white;
  margin: 20px;
  margin-top: 40px;
}

.switch-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 21px;
  margin-top: 10px;
}

.switch-container .form-check {
  display: flex;
  align-items: center;
  gap: 0px;
}

.switch-container .form-check-input {
  margin-top: 0;
}
.switch-container .form-check-label {
  position: relative;
  top: -10.5px;
}

.modal-body .boton-reset {
  background-color: #28a745;
  color: white;
  padding: 0.7em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: 25%;
  margin-bottom: 10px;
}

.modal-body .gameOver {
  color: white;
  margin: 20px;
  margin-top: 40px;
}

.modal-body .gameOver h1,
h2 {
  padding-bottom: 20px;
}
